*{
    margin: 0; 
    font-family: sans-serif;
}

header{
    height: 50px;
    background-color: #FF6900 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    border: none;
    background-color: #FF6900;
    color: white;
    font-weight: 1000;
}

.boolean{
    width: 200px;
    height: 30px;
}



/* Main */

div.contenitorefoto{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    justify-content: space-between;
}

.foto{
    flex-basis: calc(100% / 3 - 10px);
    flex-grow: 1;
    position: relative;
}

.fa-heart{
    position: absolute;
    padding: 10px;
    background-color: white;
    top: 10px;
    right: 0;
}

.etichetta-sconto{
    position: absolute;
    background-color: red;
    width: 50px;
    text-align: center;
    bottom: 150px;
    color: white;
}

.etichetta-sustain{
    position: absolute;
    background-color: green;
    width: 100px;
    text-align: center;
    bottom: 150px;
    left: 60px;
    color: white;
}

.foto img{
    width: 100%;
}

img{
    width: 100%;
}


span.red-text{
    color:#FF0000;
}

span.line-through{
    text-decoration: line-through;
}

h3{
    text-transform: uppercase;
}



/* Footer */
footer{
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    padding-inline: 200px;
    align-items: center;
    height: 100px;
}

footer div{
    color: white;
}

ul.logo{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
    padding: 0;
    margin: 0 auto;
    width: 100px;
}